/* Common CSS */
* {
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    background:url("../images/main/background.png") no-repeat center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

main {
    max-width: 780px;
    width: 100vw;
    overflow: hidden;
    padding: 3rem 1.5rem;
    /* background:url("../images/background.png") no-repeat center;
    background-size: cover; */
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

img {
    width: 100%;
}

.wrap {
    position: relative;
    overflow: hidden;
}

/* Visual CSS */
.visual {
    max-width: 654px;
    max-height: 1045px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background:url("../images/main/visual.png") no-repeat center top;
    background-size:contain;
    padding: 3rem 4.5rem;
}



#logo {
    max-width: 12rem;
    padding-bottom: 3rem;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info .title {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 3rem;
}

.info .title .subtitle {
    max-width: 386px;
    width: 100%;
    padding-bottom: 2rem;
    position: relative;
    
}

.info .title .subtitle img {
    opacity: 0;
    animation: on .7s 1s ease-in forwards;    
}

.info .title .maintitle {
    opacity: 0;
    max-width: 345rem;
    animation: on 1s ease-in forwards;
}

.info .date {
    max-width: 23.875rem;
    padding-bottom: 5rem;
    opacity: 0;
    animation: on .7s .3s ease-in forwards;
}

.btn__wrap {
    display: flex;
    align-items: center;
    z-index: 100;
}

.btn__wrap a {
    max-width: 382px;
    display: inline-block;
    padding:2px 0;
}

.btn__wrap .event__map-btn {
    opacity: 0;
    animation: on 1s .5s ease-out forwards;
}

.btn__wrap .event__faq-btn {
    opacity: 0;
    animation: on 1s .7s ease-out forwards;
}

/* Event CSS */
.event {
    max-width: 780px;
    max-height: 643px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 3.75rem 5rem 3.75rem;
}

.event h2 {
    padding: 0 1rem;
    text-align: left;
    margin-bottom: 1rem;
}

.event h2 img {
    width: 60%;
}

.event .btn__wrap a {
    max-width: 659px;
    padding: .5rem 0;
}

.info-wrap {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.event .btn__wrap {
    flex-direction: column;
}

a.topBtn {
    position: absolute;
    top:1%;
    right: 2.5%;
    width: 3rem;
    height: 3rem;
    text-align: center;
    z-index: 300;
    background: none;
    border: 0px;
}

a.bottomBtn {
    position: absolute;
    bottom:1rem;
    z-index: 300;
    width: 60%;
    padding: 0;
    display: flex;
    background: none;
    border: 0px;
}





/* faq */
body.faq {
    background:url("../images/QnA/background.png") no-repeat center;
}

.faq .info-wrap .faq-img {
    margin: 6rem 0 10rem 0;
}





/* guidemap */
body.guidemap {
    background:url("../images/guidemap/background.png") no-repeat center;
    background-size: cover;
}

.guidemap .item-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.guidemap .item-wrap h1 {
    width: 30%;
    padding: 2rem 0;
}

.guidemap .item-wrap h2 {
    width: 80%;
    padding-bottom: 1rem;
}

.guidemap .map-img {
    padding: 2rem 0 1rem;
}

.guidemap .info-wrap {
    margin: 6rem 1rem;
    padding: 0 2rem 5rem;
    background: url("../images/guidemap/infobox.png") no-repeat center top;
    background-size: cover;
}

.guidemap .info-wrap .product {
    padding: 1rem 1rem 0 0;
}

.guidemap .info-wrap .product .product-info {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.guidemap .info-wrap .product .product-info .product-img {
    width: 40%;
    height: 100%;
    padding: 0 1rem;
}

.guidemap .info-wrap .product .product-info .product-explanation-wrap {
    width: 60%;
    padding-left: 1rem;
}

.guidemap .info-wrap .product .product-info .product-explanation-wrap .product-btn {
    width: 60%;
    margin-top: 1rem;
}

.guidemap a.bottomBtn {
    left:50%;
    bottom:0rem;
    transform: translateX(-50%);
}